extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each val in messages
      li= val.user
      li= val.text
      li= val.added
    else 
      li There r no values
  a(href="/new") new
