extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each val in messages
      li= 'name: ' + val.user
      li= 'message: ' + val.text
      li= 'added: ' + val.added
    else 
      li There r no values
  a(href="/new") new
